@import '@/styles/themes/colors.scss';
@import '@/styles/themes/themes.scss';

.buttonStyled {
  width: 100%;
  height: 100%;

  background: $yellow-400;
  color: $gray-900;
  
  border: 4px solid $gray-900;
  padding: 0.5rem 2rem;
  border-radius: 10px;

  font-size: 2rem;
  font-weight: 700;

  transition: 
    filter 0.1s ease-in,
    border 0.1s ease-in,
    background 0.1s ease-in,
    color 0.1s ease-in;

  &:disabled{
    filter: brightness(0.9);
    border: 4px solid $gray-250;
    background: $gray-300;
    color: $gray-250;
    cursor: not-allowed;
  }

  &:hover, &:active{
    filter: brightness(0.85);
  }
}