@import '@/styles/themes/colors.scss';
@import '@/styles/themes/themes.scss';


.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 1rem;
  background: var(--card-bg);
  border: 4px solid var(--border);
  border-radius: 8px;
  opacity: 0.9;
}