@import '@/styles/themes/colors.scss';
@import '@/styles/themes/themes.scss';

.container {
  max-width: 1366px;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .main{
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
}