@import './colors.scss';

$themes: (
  'bg-default': (
    light: $bg-light,
    dark: $bg-dark
  ),
  'bg-default-grandient': (
    light: linear-gradient($bg-light-top, $bg-light-bottom),
    dark: linear-gradient($bg-dark-top, $bg-dark-bottom)
  ),
  'text-default': (
    light: $text-light,
    dark: $text-dark
  ),
  'text-secondary': (
    light: $text-2-light,
    dark: $text-2-dark
  ),
  'card-bg': (
    light: $bg-card-light,
    dark: $bg-card-dark
  ),
  'border': (
    light: $border-light,
    dark: $border-dark
  ),
  'hover': (
    light: $hover-light,
    dark: $hover-dark
  ),
);


@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark-mode {
  @include styles("dark");
}

.light-mode {
  @include styles("light");
}

// // Light Theme
// :root {
//   --background: $bg-light,
//   --bg: $bg-light,
//   --bg-default-grandient: linear-gradient($bg-light-top, $bg-light-bottom),
//   --card-bg: $bg-card-light,
//   --text: $text-light,
//   --text-secondary: $text-2-light,
//   --border: $border-light
//   // link: $brand-blue-light,

//   &[data-theme= 'dark'] {
//     --bg: $bg-dark,
//     --bg-default-grandient: linear-gradient($bg-dark-top, $bg-dark-bottom),
//     --card-bg: $bg-card-dark,
//     --text: $text-dark,
//     --text-secondary: $text-2-dark,
//     --hover: $hover-dark,
//     --border: $border-dark
//     // link: $brand--blue--dark,
//   }
// }

// Dark Theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --bg: $bg-dark,
//     --bg-default-grandient: linear-gradient($bg-dark-top, $bg-dark-bottom),
//     --card-bg: $bg-card-dark,
//     --text: $text-dark,
//     --text-secondary: $text-2-dark,
//     --hover: $hover-dark,
//     --border: $border-dark
//     // link: $brand--blue--dark,
//   }
// }
